body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #4e6eff;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

button {
    background-color: #ff4a4a;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 150px;
}

button:hover {
    background-color: #ff6782;
}

.option-btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.option-btn:hover {
    background-color: #eeeeee;
}
